body { background-color: black }

canvas { width: 300px; height: 550px; position: absolute; top: 50%; left: 50%; margin-top: -275px; border-width: 1px; border-style: solid }
#blue-player { border-color: blue; margin-left: -380px }
#red-player  { border-color: red; margin-left: 80px }
